---
title: Székelyföld leírása
layout: default
---
<!-- Featured -->
<div id="featured">
	<div class="container">
		<header>
			<h2>{{page.title}}</h2>
		</header>
		<div class="siculia-leiras">"Az erdélyi felföld keleti részén nagy kiterjedésű, hegyekkel sűrűn behálózott hegyes vidék emelkedik. A hegyek hatalmas tömegéből különösen két hegylánc válik ki. Északról délre húzódó, nagy terjedelmű, magas sziklacsúcsokkal, festői sziklacsoportokkal
				ékeskedő s rengeteg erdőségekkel borított hegyláncolat mind a kettő. A keleti lánc a Kárpátok övének egyik szakasza: az ország keleti határát alkotó
				keleti határláncolat. A nyugati a keletivel egyközűen haladó s 136 km hosszú Hargita- és Persányi-hegység, mely az előbbi folytatásának tekinthető.
				A Hargita és a keleti hegylánc közé eső, valamint a Hargita nyugati oldalára támaszkodó lejtők, völgyek, medencék együtt teszik a székelyföldet, a
				székelyek hazáját. A székelyek földjét a Hargita-hegylánc és tagjai két részre osztják; a Hargita és a
				keleti határhegy-lánc közé zárt rész Csík és Háromszék, a Hargita nyugati oldalán lévő Maros-Torda és Udvarhely vármegyéket foglalja magába. Csík, Háromszék, Maros-Torda és Udvarhely vármegye: íme a Székelyföld, 450 ezer székelynek a hazája... A Székelyföldet határok zárják körül
				elszigetelve annak lakóit mindattól, ami e föld határán kívül esik. A természet alkotta éles határok
				között őseredetiségében megmaradt népszokások, sajátságok, nyelv, viselet a székelyben egy, a
				magyartól sokban eltérő, annál ősibb néptípus, a földben egy kis külön ország benyomását teszi az
				emberre. Büszkén is nevezi a székely ember kis hazáját... Székelyországnak."
				<span> --- <i>Pallas Nagy Lexikona --- (1893)</i></span>
		</div>
		</header>
		<div class="row">
			<section class="4u">
				<span class="pennant">{% include icon-sigillum.html %}</span></span>
				<h3>{{ 'Székelyföld'}}</h3>
				<p>Múltunk megismerése feltölt, megerősít, <br> akár a hegyi levegő. Arra ösztönöz, hogy időként megálljunk és merítsünk belőle.</br></p>
				<a href="https://siculia.gitbooks.io/szekelyfold-hires-emberei/" class="button button-style1">Híres székelyek</a>
			</section>
			<section class="4u">
				<span class="pennant">{% include icon-sigillums.html %}</span></span>
				<h3>{{ 'Terra Siculorum'}}</h3>
				<p>A megmaradásunk érdekében fontos, hogy <br> olyan közösségekt teremtsünk, amelynek tagjaként <br> jó élni.</br></p>
				<a href="https://siculia.tumblr.com" class="button button-style1">Gesta Siculorum</a>
			</section>
			<section class="4u">
				<span class="pennant">{% include icon-sigillum.html %}</span></span>
				<h3>{{ 'Szeklerland' }}</h3>
				<p>Múltunk megismerése feltölt, megerősít, <br> akár a hegyi levegő. Arra ösztönöz, hogy időként megálljunk és merítsünk belőle.</br></p>
				<a href="https://siculia.gitbooks.io/szekelyfold-hires-emberei/" class="button button-style1">Híres székelyek</a>
			</section>
		</div>
	</div>
</div>

<!-- Main -->
	<div id="main">
		<div id="content" class="container">

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic01.jpg" alt=""></a>
					<header>
						<a href="/siculia-haromszek.html"><h2>Háromszék</h2></a>
					</header>
					<p>Háromszék egyike a székely székeknek, a történelmi Székelyföld közigazgatási egységeinek. Háromszék 1562-ben jön létre az addig önálló Kézdiszék, Orbaiszék és Sepsiszék egyesülésével.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic02.jpg" alt=""></a>
					<header>
						<a href="/siculia-csikszek.html"><h2>Csíkszék</h2></a>
					</header>
					<p>Csíkszék egyike a székely székeknek, a történelmi Székelyföld közigazgatási egységeinek. Csíkszék a Csíki-medencében, az Olt felső medencéjében, a Keleti-Kárpátok és a Hargita közrezártságában fekszik.</p>
				</section>
			</div>

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic03.jpg" alt=""></a>
					<header>
						<a href="/siculia-marosszek.html"><h2>Marosszék</h2></a>
					</header>
					<p>Marosszék egyike a székely székeknek, a történelmi Székelyföld közigazgatási egységeinek. Marosszékhez a Kis-Küküllő felső völgye, a Nyárád völgye és  Marosvásárhely környékének falvai tartoztak.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic04.jpg" alt=""></a>
					<header>
						<a href="/siculia-udvarhelyszek.html"><h2>Udvarhelyszék</h2></a>
					</header>
					<p>Udvarhelyszék egyike a székely székeknek, a történelmi Székelyföld közigazgatási egységeinek. Udvarhelyszék a Kis- és Nagy-Homoród, a Vargyas patakok, valamint a Nagy-Küküllő és a Fehér-Nyikó völgyében fekszik</p>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic05.jpg" alt=""></a>
					<header>
						<a href="/siculia-gyergyoszek.html"><h2>Gyergyószék</h2></a>
					</header>
					<p>Gyergyószék a történelmi Székelyföld egyik fiúszéke volt, amely a 15. század elején különült el Csíkszéken belül annak északi részén. Jelenleg az egykori Gyergyószék területe nagyrészt Hargita megyéhez tartozik</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic06.jpg" alt=""></a>
					<header>
						<a href="/siculia-aranyosszek.html"><h2>Aranyosszék</h2></a>
					</header>
					<p>Aranyosszék egyike a székely székeknek, vagyis a történelmi Székelyföld közigazgatási egységeinek. Aranyosszéket északon és keleten az Aranyos völgye, délen a Maros, nyugaton a Torockói-hegység határolja.</p>
				</section>
			</div>

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic07.jpg" alt=""></a>
					<header>
						<a href="/siculia-kaszonszek.html"><h2>Kászonszék</h2></a>
					</header>
					<p>Kászonszék egyike a székely székeknek, a történelmi Székelyföld közigazgatási egységeinek, a 15. századtól Csíkszék fiúszéke lesz.  Északon és nyugaton Alcsík, keleten a Kárpátok és Felcsík egy része, délen Kézdiszék és Felső-Fehér vármegye határolja.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic08.jpg" alt=""></a>
					<header>
						<a href="/siculia-miklosvarszek.html"><h2>Miklósvárszék</h2></a>
					</header>
					<p>Miklósvárszék egyike a székely székeknek, a történelmi Székelyföld közigazgatási egységeinek. Az Erdővidék déli részén, a Baróti-hegység nyugati lábánál, az Olt jobb partján fekszik. Később fiúszékként Udvarhelyszékhez csatolják.</p>
				</section>
			</div>
		</div>
	</div>
</div>
