---
title: Székelyföld leírása
layout: default
---
<!-- Featured -->
<div id="featured">
	<div class="container">
		<header>
			<h2>{{page.title}}</h2>
		</header>
		<div class="siculia-leiras">"Az erdélyi felföld keleti részén nagy kiterjedésű, hegyekkel sűrűn behálózott hegyes vidék emelkedik. A hegyek
				hatalmas tömegéből különösen két hegylánc válik ki. Északról délre húzódó, nagy terjedelmű, magas sziklacsúcsokkal, festői sziklacsoportokkal
				ékeskedő s rengeteg erdőségekkel borított hegyláncolat mind a kettő. A keleti lánc a Kárpátok övének egyik szakasza: az ország keleti határát alkotó
				keleti határláncolat. A nyugati a keletivel egyközűen haladó s 136 km hosszú Hargita- és Persányi-hegység, mely az előbbi folytatásának tekinthető.
				A Hargita és a keleti hegylánc közé eső, valamint a Hargita nyugati oldalára támaszkodó lejtők, völgyek, medencék együtt teszik a székelyföldet, a
				székelyek hazáját. A székelyek földjét a Hargita-hegylánc és tagjai két részre osztják; a Hargita és a
				keleti határhegy-lánc közé zárt rész Csík és Háromszék, a Hargita nyugati oldalán lévő Maros-Torda és Udvarhely vármegyéket foglalja magába. Csík, Háromszék, Maros-Torda és Udvarhely vármegye: íme a Székelyföld, 450 ezer székelynek a hazája... A Székelyföldet határok zárják körül
				elszigetelve annak lakóit mindattól, ami e föld határán kívül esik. A természet alkotta éles határok
				között őseredetiségében megmaradt népszokások, sajátságok, nyelv, viselet a székelyben egy, a
				magyartól sokban eltérő, annál ősibb néptípus, a földben egy kis külön ország benyomását teszi az
				emberre. Büszkén is nevezi a székely ember kis hazáját... Székelyországnak."
				<span> --- <i>Pallas Nagy Lexikona --- (1893)</i></span>
		</div>
		</header>
		<div class="row">
			<section class="4u">
				<span class="pennant">{% include icon-sigillum.html %}</span></span>
				<h3>{{ 'Sigillum'}}</h3>
				<p>Múltunk megismerése feltölt, megerősít, akár a hegyi levegő. Arra ösztönöz, hogy időként megálljunk és merítsünk belőle.</p>
				<a href="https://www.gitbook.com/book/siculia/szekelyfold-hires-emberei/details" class="button button-style1">Híres székelyek</a>
			</section>
			<section class="4u">
				<span class="pennant">{% include icon-sigillum.html %}</span></span>
				<h3>{{ 'Nationis'}}</h3>
				<p>Múltunk megismerése feltölt, megerősít, akár a hegyi levegő. Arra ösztönöz, hogy időként megálljunk és merítsünk belőle.</p>
				<a href="https://www.gitbook.com/book/siculia/szekelyfold-hires-emberei/details" class="button button-style1">Híres székelyek</a>
			</section>
			<section class="4u">
				<span class="pennant">{% include icon-sigillum.html %}</span></span>
				<h3>{{ 'Siculicae' }}</h3>
				<p>Múltunk megismerése feltölt, megerősít, akár a hegyi levegő. Arra ösztönöz, hogy időként megálljunk és merítsünk belőle.</p>
				<a href="https://www.gitbook.com/book/siculia/szekelyfold-hires-emberei/details" class="button button-style1">Híres székelyek</a>
			</section>
		</div>
	</div>
</div>

<!-- Main -->
	<div id="main">
		<div id="content" class="container">

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic01.jpg" alt=""></a>
					<header>
						<h2>Háromszék</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic02.jpg" alt=""></a>
					<header>
						<h2>Csíkszék</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
			</div>

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic03.jpg" alt=""></a>
					<header>
						<h2>Marosszék</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic04.jpg" alt=""></a>
					<header>
						<h2>Udvarhelyszék</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic05.jpg" alt=""></a>
					<header>
						<h2>Gyergyószék</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic06.jpg" alt=""></a>
					<header>
						<h2>Aranyosszék</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
			</div>

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic07.jpg" alt=""></a>
					<header>
						<h2>Kászonszék</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="/assets/images/pic08.jpg" alt=""></a>
					<header>
						<h2>Miklósvárszék</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
			</div>

		</div>
	</div>
