<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">Honlap</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="/blog">Blog</a></li>
			<li {% if current[1] == 'siculia-haromszek.html' %}class='current'{% endif %}><a href="/siculia-haromszek.html">Háromszék</a></li>
			<li {% if current[1] == 'siculia-csikszek.html' %}class='current'{% endif %}><a href="/siculia-csikszek.html">Csíkszék</a></li>
			<li {% if current[1] == 'siculia-marosszek.html' %}class='current'{% endif %}><a href="/siculia-marosszek.html">Marosszék</a></li>
			<li {% if current[1] == 'siculia-udvarhelyszek.html' %}class='current'{% endif %}><a href="/siculia-udvarhelyszek.html">Udvarhelyszék</a></li>
			<li {% if current[1] == 'siculia-gyargyoszek.html' %}class='current'{% endif %}><a href="/siculia-gyergyoszek.html">Gyergyószék</a></li>
			<li {% if current[1] == 'siculia-aranyosszek.html' %}class='current'{% endif %}><a href="/siculia-aranyosszek.html">Aranyosszék</a></li>
			<li {% if current[1] == 'siculia-terkep.html' %}class='current'{% endif %}><a href="/siculia-terkep.html">Térkép</a></li>
		</ul>
	</nav>
</div>
