
<!-- Sidebar -->
<div id="sidebar" class="4u">
	<section>
		<header>
			<h2>Sedes siculicalis</h2>
		</header>
		<div class="row">
			<section class="6u">
				<ul class="default">
					<li><a href="/siculia-haromszek.html">Háromszék</a></li>
					<li><a href="/siculia-marosszek.html">Marosszék</a></li>
					<li><a href="/siculia-csikszek.html">Csíkszék</a></li>
					<li><a href="/siculia-gyergyoszek.html">Gyergyószék</a></li>
					<li><a href="/siculia-udvarhelyszek.html">Udvarhelyszék</a></li>
					<li><a href="/siculia-kereszturszek.html">Keresztúrszék</a></li>
				</ul>
			</section>
			<section class="6u">
				<ul class="default">
					<li><a href="/siculia-aranyosszek.html">Aranyosszék</a></li>
					<li><a href="/siculia-miklosvarszek.html">Miklósvárszék</a></li>
					<li><a href="/siculia-kaszonszek.html">Kászonszék</a></li>
					<li><a href="/siculia-orbaiszek.html">Orbaiszék</a></li>
					<li><a href="/siculia-sepsiszek.html">Sepsiszék</a></li>
					<li><a href="/siculia-kezdiszek.html">Kézdiszék</a></li>
				</ul>
			</section>
		</div>
	</section>
	<section>
		<header>
			<h2>Legújabb beírások</h2>
		</header>
		<ul class="style">
		{% for post in site.posts offset: 0 limit: 2 %}
			<li>
				<p class="posted">{{ post.date | date_to_string }}  |  (10 )  Comments</p>
				<p><a href="{{ site.prefix }}{{ post.url }}">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</a></p>
			</li>
		{% endfor %}
		</ul>
	</section>
</div>
